.text {
  font-size: 16px;
  margin-left: 20px;
  resize: none;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .text {
    width: 330px;
    height: 180px;
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .text {
    width: 298px;
    margin-left: 15px;
    height: 160px;
    font-size: 14.5px;
  }
}

@media (max-width: 320px) {
  .text {
    width: 257px;
    font-size: 14px;
  }
}
