.caption {
  text-align: center;
  font-size: 28px;
  margin-top: 200px;
}

@media (max-width: 800px) {
  .caption {
    font-size: 18px;
    margin-top: 150px;
  }
}

@media (max-width: 400px) {
  .caption {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .caption {
    font-size: 15.5px;
    margin-top: 100px;
  }
}
