.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
  margin-top: 2vh;
}

button {
  width: 6.5vw;
  height: 3.2vh;
  border: none;
  border-radius: 2px;
  background-color: #9B6242;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
}

@media (max-width: 800px) {
  .buttons-container {
    margin-left: 2.3vw;
    margin-right: 2.3vw;
  }

  button {
    font-size: 11px;
    width: 18vw;
    height: 3.6vh;
  }
}

@media (max-width: 400px) {
  button {
    font-size: 10px;
    width: 18vw;
    height: 4.3vh;
  }
}
