@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.container {
  height: 95vh;
  width: 45vw;
  border-radius: 8px;
  background-color: #FFFFFF;
}


@media (max-width: 420px) {
  .container {
    height: 99vh;
    width: 98vw;
  }
}
